@font-face {
  font-family: 'Inter UI';
  src: url(../../font/Inter-Regular.ttf);
}

* {
  box-sizing: border-box;
  font-family: 'Inter UI';
  font-weight: 400;
  margin: 0;
  vertical-align: top;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.container {
  background-color: #ffffff;
  margin: 0 auto;
  max-width: 1010px;
}

.tabs {
  width: 146px;
  height: 54px;
  margin: auto;
}
